* {
  margin: 10%;
  padding: 2%;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(45, 87, 146);
}
.btncont {
  background-color: rgb(55, 233, 55);
  border: 2px solid black;
}
